name: 'ci'

on:
  push:
    branches:
    - master
  pull_request:

permissions:
  contents: read

jobs:
  test:
    name: docs
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.24.4' ]
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 1
    - name: Restore Cache
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
      id: cache
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: ${{ matrix.go }}
    - name: Build docs
      run: make generate-docs
    - name: Detect Uncommitted Docs
      run: git diff --exit-code docs
