name: release

on:
  push:
    tags:
    - 'v[0-9].[0-9]+.[0-9]+'

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4.1.1
      with:
        fetch-depth: 0
    - name: Set up Go
      uses: actions/setup-go@v5.0.0
      with:
        go-version-file: 'go.mod'
    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v5.0.0
      with:
        version: latest
        args: release --clean
      env:
        # https://goreleaser.com/errors/resource-not-accessible-by-integration/
        GITHUB_TOKEN: ${{ secrets.GH_PAT }}